$blue-primary: #5A67BA;
$grey-primary: #F1F2F7;
$font: 'Poppins', sans-serif;
$sidebar-width: 240px;



* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}




.container{
    padding:20px 40px;
}

body{
    font-family: $font;
}

::placeholder {
    font-family: $font;
    color: rgba(31, 56, 76, 0.3);
}



.sidebar{
    width: $sidebar-width;
    height:100%;
    top:65px;
    position: fixed;
    overflow-x: hidden;
    background-color: $grey-primary;
}


.logo{
    width: $sidebar-width;
    height:64px;
    padding: 0px 101px 0px 40px;
    display: flex;
    align-items: center;
    background-color: #F1F2F7;
    
    .logo-circle {
        width: 24px;
        height:24px;
        line-height: 24px;
        border-radius: 100%;
        background-color: $blue-primary;
        color:white;
        text-align: center;
        font:{
            weight: 700;
            size:11px;
        }
    }
    .logo-text{
        font: {
            weight:700;
            size:11px;
            }
        line-height: 24px;
        margin-left:10px;
        color: $blue-primary;
        text-transform: uppercase;
    }
}

.nav-item{
    padding:20px 20px;
}

.menu {
    .menu-heading{
        color:#082431;
        padding:20px 20px 10px 20px;
        text-transform: uppercase;
        font-weight: 400;
        font-size:11px;
    } 
    .menu-items
    {
        list-style-type: none;

        .active{
            color:#5A6ACF;
            background-color: rgba(112,127,221, 0.1);
            a{
                color:#5A6ACF;
            }
        }

        li{
            svg{
                margin-right:10px;
            }
            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color:#273240;
                letter-spacing: 0.5px;
                font-weight: normal;
            }
            
            line-height: 100%;
            padding:15px 20px;
            margin-bottom:10px;
            border-radius: 5px;
            font-weight: 500;
            font-size: 12px;
            
        }
    }  
}


.header{
    border-bottom: 0.5px solid #C8CBD9;
    display: flex;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 10;
    background-color: white;
    align-items: center;
    justify-content: space-between;

    .search{
        padding: 12px 40px;
        flex: 60%;
        display: flex;
        align-items: center;
        position: relative;

        input{
            padding: 10px 40px 10px 15px;
            width:100%;
            border-radius: 5px;
            background-color: #F6F6FB;
            border: 0px;
        }

        svg{
            margin-left: -30px;
        }
    }
    .account{
        flex: 40%;
        display: flex;
        align-items: center;
        padding: 0px 40px;
        justify-content: flex-end;

        .login-image{
            background-color: #FFE6CC;
            width: 32px;
            height:32px;
            border-radius: 50%;
            line-height: 37px;
            text-align: center;
            margin-right: 10px;
        }

        .login-name{
            display: flex;
            font:{
                size:12px;
                weight:400;
            }
            color: #1F384C;
            a{
                text-decoration: none;
            }

            a:visited{
                color: #1F384C;
                text-decoration: none;
            }
        }
        .notification{
           margin:0px 20px;
           position: relative;
           line-height: 13px;
        }
        .new::before{
            position: absolute;
            content: "";
            width: 6px;
            height: 6px;
            background-color: #EC5252;
            border-radius: 50%;
            right: -2px;
            top: -2px;
            border: 1px solid white;
        }
        
    }
}


.main{
    margin-left: $sidebar-width;
    margin-top: 64px;
}

.intro-heading{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #1F384C;
    padding-top: 20px;
}

.donut{
    padding: 0px 0px 0px 40px;
}

.bubble{
    padding-top: 40px;
    padding-right:40px;
}

.food-container{
    padding: 40px 40px 0px 40px;
}

.line-graph{
    padding: 40px 0px 0px 40px;
}

.cards{
    display:grid;
    padding-top: 40px;
    grid-template: 'bigGrid bigGrid .'
                    '. . .';
    grid-template-columns: 1fr 1fr 1fr;

    .double{
        grid-area: bigGrid;
        padding-right: 40px;
    }

    .item:nth-child(2), .item:last-child{
        border-right:none;
    }

    .item:nth-child(1), .item:nth-child(2)
    {
        border-bottom: 0.5px solid #C8CBD9;
        padding-bottom: 40px;
    }

    .item{
        letter-spacing: 0.5px;
        border-right: 0.5px solid #C8CBD9;
        .card-header{
            display: flex;
            justify-content: space-between;
            .left{
                h1, h2{
                    margin-bottom: 8px;
                }
            }
            .right{
                //padding: 0px 20px;
                .btn{
                    box-shadow: 0px 2px 1px rgba(64, 72, 82, 0.05);
                    background-color: #FBFCFE;
                    border:0.5px solid #DDE4F0;
                    color:#5A6ACF;
                    padding: 6px 16px;
                    border-radius: 5px;
                    font:{
                        family:$font;
                        weight: 500;
                        size: 12px;
                    }
                }
            }
        }
    }



    .header-1{
        .left{
                
            h1{
                font:{
                    size: 14px;
                    weight: 400;
                }
            }
            h2{
                font:{
                    size:20px;
                    weight:500;
                }
            }
            h3{
                font:{
                    size:12px;
                    weight:400;
                }
                .text{
                    color:#000000;
                    opacity: 0.5;
                }

                svg, .green, .red{
                    opacity: 1;
                    font-weight: 600;
                }

                .green{
                    color:#149D52;
                }

                .red{
                    color: #F2383A;
                }
            }
        }
    }

    .header-2{
        .left{
                
            h1{
                font:{
                    size: 14px;
                    weight: 400;
                }
            }
            h2{
                font:{
                    size:13px;
                    weight:400;
                }
                color:#000000;
                opacity: 0.5;
            }
        }
    }

    .card-content{

        .bullets
        {
            margin-top:20px;
            ul{
                list-style: none;
                position: relative;
                
                li{
                    display: inline;
                    font:{
                        size: 12px;
                        weight: normal;
                    }
                    margin-left: 30px;
                }

                li::before{
                    content:"";
                    position: absolute;
                    width:9px;
                    height:9px;
                    border-radius: 50%;

                }

                .blue::before{
                    background-color: #5A6ACF;
                    top: 9px;
                    left: 9px;
                }

                .gray::before{
                    background-color:#D8D9DB;
                    top: 9px;
                    left: 78px;
                    margin-left: 40px;
                }
            }

        }

        .bullets-2{
            margin-top:20px;
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
            }
            li{
                font:{
                    weight: 500;
                    size: 12px;
                }
                color: rgba(18, 18, 18, 0.7);
                div:first-child{
                    width: 9px;
                    height:9px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 8px;
                }
                div:last-child{
                    margin-left: 18px;
                    font-weight: 400;
                }
            }
            .blue > div:first-child{
                    background: rgba(90, 106, 207, 1);
            }

            .light-blue > div:first-child{
                background: rgba(133, 147, 237, 1);
            }

            .purple > div:first-child{
                background: rgba(199, 206, 255, 1);
            }
        }

    }
    .type-1{
        h1{
            font:{
                size:13px;
                weight:400;
            }
            color:#000000;
            opacity: 0.5;
            margin: 20px 0px;
        }
    }
    
    .food-list{
        margin-top: 30px;
        .food-item{
            display: flex;
            align-items: center;
            padding: 10px 0px;
            border-bottom: 0.5px solid #DBE5EB;
            justify-content: space-between;
            .food{
                display: flex;
                align-items: center;
                padding:10px 0;
                img{
                    border-radius: 50%;
                    box-shadow: 0px 5px 20px grey;
                }
                h1{
                    padding-left: 20px;
                    font:{
                        weight: 400;
                        size: 12px;
                    }
                    display: inline-block;
                }
            }
            .price{
                h1{
                    color: rgba(39, 50, 64, 0.7);
                    font:{
                        weight: 400;
                        size: 12px;
                    }
                }
            }
        }

        .food-item:last-child
        {
            border-bottom: none;
        }
    }

    .circle1{
        position: absolute;
        z-index:0;
        left:90px;
        circle:first-child{
            fill: rgb(100, 99, 214);
            opacity: 0.8;
        }

        circle:last-child{
            fill:none;
            stroke: rgb(100, 99, 214);
            stroke-width: 2;
            stroke-dasharray: 128;
            stroke-dashoffset: 1;
            opacity: 0.8;
        }
        text{
            font:{
                weight: 400;
                size: 20px;
            }
            fill:white;
        }
        
        .small{
            font-size: 12px;
        }
    }

    .circle2{
        z-index: -1;
        right: 25px;
        top: 60px;
        position: absolute;
        circle:first-child{
            fill: #F99C30;
            opacity: 0.9;
        }

        circle:last-child{
            fill:none;
            stroke: #F99C30;
            stroke-width: 2;
            stroke-dasharray: 195;
            stroke-dashoffset: 1;
            opacity: 0.8;
        }
        text{
            font:{
                weight: 400;
                size: 33px;
            }
            fill:white;
        }
        
        .small{
            font-size: 12px;
        }
    }

    .circle3{
        left: 40px;
        top: 150px;
        position: absolute;
        circle:first-child{
            fill: #2FBFDE;
            opacity: 0.9;
        }

        circle:last-child{
            fill:none;
            stroke: #2FBFDE;
            ;
            stroke-width: 2;
            stroke-dasharray: 150;
            stroke-dashoffset: 1;
            opacity: 0.8;
        }
        text{
            font:{
                weight: 400;
                size: 24px;
            }
            fill:white;
        }
        
        .small{
            font-size: 12px;
        }
    }


    .bubbles{
        position: relative;
        height: 100%;
        padding: 40px 40px;
    }

}

.ygrid{
    stroke-dasharray: 4px;
}